.button {
    border-radius: 4px;
    padding: 10px 32px;
    border-color: var(--accent-color);
    border: none;

    color: var(--primery-white-color);
    background-color: var(--accent-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: background-color 250ms var(--cubik-timing);

&:hover,
&:focus {
    background-color: #188CE8;
}
&__subscription {
    display: flex;
    margin-left: 12px;
    width: 200px;
    justify-content: center;
    padding: 0%;
}
&__form {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
}