body {
    background-color: var(--primery-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

html {
    box-sizing: border-box;
}