:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primery-white-color: #FFFFFF;
    --secondery-bgc-black: #2F303A;
    --section-bgc-grey: #F5F4FA;
    --cubik-timing: cubic-bezier(0.4, 0, 0.2, 1);
}
