.section-features {
    &__list{

         @media screen and(min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px; }
    
        @media screen and(min-width:1200px) {
            flex-wrap: nowrap; }
    }
}

.feature{ 
    

    @media screen and(min-width:768px) {
        width: calc((100% - 2*30px) / 2);
        margin: 15px;}

    &:not(:last-child) {
        
        @media screen and(max-width:767px) {
        margin-bottom: 30px;
    }
}

    &__box {
            display: flex;
            width: 100%;
            height: 120px;
    
            margin-bottom: 30px;
            background-color: var(--section-bgc-grey);
            border-radius: 4px;
            justify-content: center;
            align-items: center;}
    
    
    &__icon {
            width: 70px;
            height: 70px;
        }
    
        &__title {
            color: var(--title-text-color);
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            @media screen and (min-width:768px) {
                    text-align: start;
                }
        }
    
        &__text {
            margin-top: 0px;
            margin-bottom: 0px;
            color: var(--primary-text-color);
            line-height: 1.71;
            
        }
    }
