.menu-button {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &__close {
        display: none;
    }

    &.is-open &__close {
        display: block;
    }

    .is-open &__burger {
        display: none;
    }

    @media screen and(min-width:768px) {
        display: none; }
}

.menu-container {
    flex-direction: column;
    justify-content: space-between;
    background: var(--primery-white-color);
    height: 798px;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 40px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    
    &.is-open {
        display: flex;
        z-index: 10;
        }
   

    @media screen and(min-width:768px){
        display: flex;
        flex-direction: row;
        position: inherit;
        flex-grow: 1;
        align-items: center; 
        height: 100%; 
        padding: 0; }
}